<div
  style="
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    margin-left: 90px;
    margin-right: 90px;
  "
>
  <h1 style="display: flex; align-items: baseline">
    <div style="font-size: 40px; font-weight: 600; color: red">eKart</div>
    <div style="font-size: 40px; font-weight: 600">.in</div>
  </h1>
  <div style="display: flex; flex-direction: row">
    <nav>
      <a routerLink="/browse" routerLinkActive="active">Home</a>
      <a routerLink="/cart" routerLinkActive="active">Cart</a>
      <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>
