<div
  style="
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    margin-left: 90px;
    margin-right: 90px;
  "
>
  <h1 style="display: flex; align-items: baseline">
    <div style="font-size: 40px; font-weight: 600; color: red">eKart</div>
    <div style="font-size: 40px; font-weight: 600">.in</div>
  </h1>
  <div style="display: flex; flex-direction: row">
    <p style="margin-right: 10px">Cart ({{ cartTotal }})</p>
    <p>Total Amount ({{ amountTotal | currency: "EUR" }} )</p>
  </div>
</div>

<app-items-list [updateCart]="updateCart"></app-items-list>

<!-- <button (click)="onClick()">Click me!</button> -->
<p>
  {{ messageAdded }}
</p>
