<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ item.image }}"
    style="width: 150px; padding-left: 130px"
    alt="Item Photo"
  />
  <mat-card-content>
    <p>
      {{ item.description }}
    </p>
    <p>
      {{ item.price | currency }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onAddClickEvent()">ADD</button>
    {{ itemCount }}
    <button mat-button (click)="onRemoveClickEvent()">REMOVE</button>
  </mat-card-actions>
</mat-card>
<br />
