<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ item.title }}</mat-card-title>
    <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="{{ item.image }}"
    style="width: 150px; padding-left: 35%"
    alt="Item Photo"
  />
  <mat-card-content>
    <p>
      {{ item.description }}
    </p>
    <p>
      {{ item.price | currency: "EUR" }}
    </p>
  </mat-card-content>

  <mat-card-actions
    style="
      display: flex;
      flex-direction: row;
      align-items: baseline;
      text-align: right;
    "
  >
    <button mat-button (click)="onAddClickEvent()">ADD</button>
    <div style="width: 20px">{{ item.quantity }}</div>
    <button mat-button (click)="onRemoveClickEvent()">REMOVE</button>
  </mat-card-actions>
</mat-card>
